* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #FAFAF8;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

header > img {
    width: 43px;
    height: 52px;
}

header > h1 {
    font-weight: 400;
}

main {
    padding: 70px 30px 10px;
}

.add-ingredient-form {
    display: flex;
    justify-content: center;
    gap: 12px;
    height: 38px;
}

.add-ingredient-form > input {
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    padding: 9px 13px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    flex-grow: 1;
    min-width: 150px;
    max-width: 400px;
    font-size: 1rem;
}

.add-ingredient-form > button {
    border-radius: 6px;
    font-family: Inter, sans-serif;
    background-color: #141413;
    color: #FAFAF8;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    max-width: fit-content;
}

.add-ingredient-form > button::before {
    content: "+";
    margin-right: 5px;
}

.ingredient-requirement-message {
    color: #EF4444;
    font-size: 0.875rem;
    text-align: center;
    font-weight: 500;
}

.ingredients-list-container {
    margin: 0 auto;
    width: fit-content;
}

.ingredients-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ingredients-list {
    margin-bottom: 48px;
    padding: 0px;
    list-style: none;;
}

.ingredients-list > li {
    color: #475467;
    line-height: 28px;
    margin-inline-start: 10px;
}

.rm-ingredient-btn {
    margin-inline-end: 10px;
    border-radius: 6px;
    font-family: Inter, sans-serif;
    background-color: #141413;
    color: #FAFAF8;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    max-width: fit-content;
}

.rm-ingredient-btn:hover {
    background-color: #EF4444;
}

.rm-all-btn {
    padding: 5px;
}

.rm-all-btn:hover {
    background-color: #EF4444;
}

.get-recipe-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: #F0EFEB;
    padding: 10px 28px;
    width: fit-content;
    gap: 50px;
    visibility: hidden;
}

.get-recipe-container h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
}

.get-recipe-container p {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 20px;
}

.get-recipe-container button {
    border: none;
    border-radius: 6px;
    background: #D17557;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #FAFAF8;
    padding: 9px 17px;
    font-family: Inter, sans-serif;
    font-size: 0.875rem;
    cursor: pointer;
    max-width: fit-content;
}

.get-recipe-container button:hover:not([disabled])::before{
    content: "👨‍🍳";
}

.get-recipe-container button:hover:not([disabled])::after{
    content: "🍽️";
}

.get-recipe-container.visible {
    visibility: visible;
}

.suggested-recipe-container {
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;
    width: 100%;
    max-width: 530px;
    margin: auto;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
    margin-bottom: 8px;
}